*, *::before, *::after {
    padding: 0px;
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page > .interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
    flex-grow: 0;
}

.page > .grid {
    display: flex;
    justify-content: center;
    flex: 1;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
}
